/* colors. Using numbers for conciseness. */
$color-1: #FFF; // primary color
$color-2: #000; // secondary color
$color-3: #FFF; // ternary color

/* various screen sizes */
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;