@import "constants.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#navigation-bar {
  background-color: $color-2;
  color: white;
  padding: 1rem;
  ul {
    list-style-type: none;
    margin: 0;

    li {
      display: inline-block;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid white;
    }

    li + li {
      margin-left: 1rem;
    }
  }
}

#content {
  padding: 1rem;
}

#footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: $color-2;
  color: white;
  padding: 1rem;
  min-height: 3rem;
}

/* RC components */
.rc-separator {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rc-line-separator {
  min-height: 1px;
  background-color: black;
}