@import "constants.scss";

#content {
  .quiz {
    .quiz-state {
      border: 1px solid black;
      .quiz-progress-bar {
        border: 1px solid black;
        border-radius: 100rem;
        font-size: 0.5rem;
        span {
          border-radius: 100rem;
          background-color: red;
        }
      }
    }
    .quiz-question-display {
      .quiz-question {
        .quiz-question-q-symbol {
          display: block;
          font-weight: 900;
        }
      }
      .quiz-choices {
        display: block;
        .quiz-answer-choice {

        }
      }
    }
  }
}

#content {
  @media screen and (max-width: $screen-md) {
    .quiz {
    }
  }

  @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
    .quiz {
    }
  }
}
