@import "constants.scss";

#content {
  .quiz {
    margin: 0 auto; // center the quiz
    .quiz-state {
      border: 1px solid black;
      padding: 0.5rem;
      .quiz-progress-bar {
        border: 1px solid black;
        border-radius: 100rem;
        font-size: 0.5rem;
        span {
          border-radius: 100rem;
          background-color: red;
          display: inline-block;
          transition: all 500ms;
        }
      }
    }
    .quiz-question-display {
      .quiz-question {
        .quiz-question-q-symbol {
          display: block;
          font-weight: 900;
        }
      }
      .quiz-choices {
        display: block;
        .quiz-answer-choice {

        }
      }
    }
  }
}

#content {
  @media screen and (max-width: $screen-sm) {
    .quiz {
      width: 100%;
    }
  }

  @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
    .quiz {
      width: 65%;
    }
  }

  @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
    .quiz {
      width: 55%;
    }
  }

  @media screen and (min-width: $screen-lg) and (max-width: $screen-xl) {
    .quiz {
      width: 50%;
    }
  }

  @media screen and (min-width: $screen-xl) and (max-width: $screen-xxl) {
    .quiz {
      width: 45%;
    }
  }

  @media screen and (min-width: $screen-xxl) {
    .quiz {
      width: 40%;
    }
  }
}
